.photo-grid {
    max-width: 1184px;
    margin: 0 auto 92px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    justify-content: space-between;
    gap: 1em;
}