.photo-grid {
    max-width: 1184px;
    margin: 0 auto 92px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    justify-content: space-between;
    gap: 1em;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .photo-grid {
        width: calc(100vw - 96px);
        gap: 14px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .photo-grid {
        width: calc(100vw - 48px);
        margin: 0 auto 88px auto;
        gap: 16px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .photo-grid {
        width: calc(100vw - 32px);
        margin: 0 auto 64px auto;
        gap: 12px;
    }
}